/* styles/globals.css */
body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

a {
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}
